:root {
     /* --primary-color: #efa2b4;
  --secondary-color: #aef1ee; */
  --main-color: #e02f6b;
  /* --main-color: #18293c; #6cdbeb  e02f6b */
  --blue: #0000ff;
  --blue-dark: #18293c;
  --orange: #ffa500;
  --green-yellow: #cddc39;
  --pink-light: #efa2b4; /*#65dfc9 #efa2b4*/
  --cyan-light: #aef1ee; /*#6cdbeb aef1ee*/
  --white: #ffffff;
  --white-alpha-40: rgba(255, 255, 255, 0.4);
  --white-alpha-25: rgba(255, 255, 255, 0.25);
  --backdrop-filter-blur: blur(5px);
  }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;         
}
::before,
::after {
  box-sizing: border-box;
}
body{
     /* background-color: rgb(127, 167, 202);   */
     min-height: 100vh;
     background-image: linear-gradient(
       to bottom right,
       var(--pink-light),
       var(--cyan-light)
     );
     background-attachment: fixed;
     font-size: 16px;
     font-family: "Poppins", sans-serif;
     font-weight: 300;
     color: var(--blue-dark);
     line-height: 1.5;
     overflow-x: hidden;
     -webkit-top-heighlight-color: transparent;
     padding: 35px 15px;
   
}
body.hide-scrolling {
    overflow-y: hidden;
  }
  body::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--green-yellow);
    z-index: -1;
    opacity: 0.12;
  }
.hello{
    position: absolute;
    width: 500px;
    text-align: center;
    /* color: white; */
    background-color:var(--white-alpha-25);
    margin-top: 270px;
    margin-left: 500px;
    padding: 20px;
    font-size: medium;
    font-weight: 400;
    border-radius: 10px;
    font-family: sans-serif;
    border: 1px solid var(--white-alpha-40);
    

}
h1{
  
  padding-bottom: 10px;

}
p{
   font-weight:400;
}